language: node_js
node_js:
- '4.1'
install: npm install -g gitbook-cli
before_script:
  - cd $TRAVIS_BUILD_DIR/gitbook
  - gitbook install
  - cd $TRAVIS_BUILD_DIR/gitbook-tutorial
  - gitbook install
script:
  - cd $TRAVIS_BUILD_DIR/gitbook
  - gitbook build
  - cd $TRAVIS_BUILD_DIR/gitbook-tutorial
  - gitbook build
after_success:
  - cd $TRAVIS_BUILD_DIR
  - bash deploy.sh
env:
  global:
  - secure: SI3q749klx38GstdyiNPbjzXHtXcKomHmCmjdiBvA0+glojJGRmDU0LcrXnxMXBFeR3goj+wSce7KI6aU0C7x3P9PzJII5e7PioL+SLzk0Q8kHaMl6XsQDdPVSNKi4ixuh07RTji1PR45JqZrbWwav7SoY3PtRmzXa5f1Q2HHKTniXUUvyX2dmMJh/Qbf78MP05Kks69HFinyPKtY83XGFK0m/KxwwFUY1HSQWou1PYAmOg/aBen1Kj0vadyS1pGYXfEXCf5BOZSXStNc0WnTVkP8QXNBrZ02Ssa7l6bMlbt8Njqkj9e6QDyQsjcZeWzV7FUJPWzDz2tSVxbeCJZKOIpFjTKHikNgARBPn1x1ebcyVkj750c+ghA0MrGr//C6mTreJfvI1MLm6DUeoKZtZ7MPLtBI5kEHO/+QRliWT9ICmTQE/vIML9ptASXuhQclCU0uwMpiRyRNrj1gf64yiIhGJl81V8Axljl3Mvz4NnkApzFiNfAD5IsJ/UI6Ixweqi0W3DtNC/J3PgACEPgLFc61mGrC++KLpdQF8LoyAUvw2/qIfZOK45L1XXhKGag7AMIabwsFMM1RdUFnD8E/DBP48D5SQ1UlNZqvOTSCak4JG4iqjWc0/sRBhkAcHn0vmPrXu35o8rccFuh58jnlqLoNvv2eX2mMVN0MPznn6g=
